body{
    background-color: rgb(184, 227, 195);
}
#grid-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
    height: 70%;
    background-color: rgb(135, 140, 145);
    border: 2px solid black;
    
}
.grid-element{
    border: 1px solid black;
    margin: 5px;
    font-size: 12px;
}
.grid-element:hover{
    background-color: rgb(218, 227, 227);
}

@media (max-width: 1000px){
    #grid-container{
        grid-template-columns: 50% 50%;
        height: 100%;
    }
    .grid-element{
        font-size: 12px;
    }
}

@media (max-width: 650px){
    #grid-container{
        grid-template-columns: 100%;
        height: 175%;
    }
    .grid-element{
        font-size: 24px;
    }
}

@media (max-height: 500px){
    .grid-element{
        font-size: 12px;
    }
}

@media (display-mode: fullscreen){
    #grid-container{
        background-color: rgb(210, 110, 110);
        height: 100%;
    }
    .grid-element{
        font-size: 24px;
    }
}


